<h1>New User</h1>
<%= form_for(@user) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_input :name %><br>
  <%= f.label :name %><br>
  <%= f.text_input :name %><br>
  <%= f.label :name %><br>
  <%= f.text_input :name %><br>
  <%= f.label :name %><br>
  <%= f.text_input :name %><br>
  <%= f.label :name %><br>
  <%= f.text_input :name %><br>
  <%= f.label :admin %>
  <%= f.check_box :admin %><br>
  <%= f.submit %>
<% end %>
